.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding: 1rem;
    background: #024950;
    color: #0FA4AF;
}

.right_side {
    grid-column-start: -1;
    grid-template-columns: 100px 100px;
    display: grid;
    align-items: center;
}

.left_side {
    display: flex;
    align-items: center;
    gap: 25px;
}

.logo_text {
    font-size: 1.75rem;
    font-weight: bolder;
    color: #0FA4AF;
}

.text {
    font-size: 1.5rem;
}